@tailwind base;
@tailwind components;
@tailwind utilities;

.urn-placeholder[contentEditable=true]:empty:before {
    content: "enter urn";
    opacity: 0.6;
}
.name-placeholder[contentEditable=true]:empty:before {
    content: "enter name";
    opacity: 0.6;
}

.summary-placeholder[contentEditable=true]:empty:before {
    content: "enter summary";
    opacity: 0.6;
}
.content-placeholder[contentEditable=true]:empty:before {
    content: "enter story";
    opacity: 0.6;
}
